body {
	display: grid;
	margin: 0;
	height: 100%;
	background: url('/background.png') no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	font-family: Avenir, sans-serif
}

.form-control {
	position: relative;
	top: 300%;
}

.cta {
	position: relative;
	top: 120%;
	margin: auto;
	padding: 19px 22px;
	transition: all 0.2s ease;
  }
  
  .cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(255, 171, 157, 0.5);
	width: 56px;
	height: 56px;
	transition: all 0.3s ease;
  }
  .cta span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	vertical-align: middle;
  }
  .cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
  }
  .cta:hover:before {
	width: 100%;
	background: #ffab9d;
  }
  .cta:hover svg {
	transform: translateX(0);
  }
  .cta:active {
	transform: scale(0.96);
  }

.btn.btn-primary {
	display: inline-block;
	height: 50px;
    line-height: 4px;
	position: relative;
	top: 300%;
	right: 0;
    border: 1px solid white;
	padding: 0 1rem;
	cursor: pointer;
	background: #990000;
	color: #fff;
	font-size: 18x;
	letter-spacing: 3px;
	border-radius: 25px;
	outline: none;
	transition: 0.2s;
}