body {
	display: grid;
	margin: 0;
	height: 100%;
	background: url('/background.png') no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
}

.form-control {
	position: relative;
	top: 300%;
}

.cta {
	margin: auto 0 auto 0;
	width: 90%;
	background: none;
	border: none;
	transition: all 0.5s ease;
}

.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(255, 171, 157, 0.5);
	width: 20%;
	height: 100%;
	transition: all 0.5s ease;
	z-index: 0;
}

.cta svg {
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.cta:hover:before {
	width: 100%;
	background: #ffab9d;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.96);
}

.list-group-item {
	margin: 0;
}

.btn.btn-primary {
	display: inline-block;
	height: 50px;
    line-height: 4px;
	position: relative;
	top: 300%;
	right: 0;
    border: 1px solid white;
	padding: 0 1rem;
	cursor: pointer;
	background: #990000;
	color: #ddd;
	font-size: 18x;
	border-radius: 25px;
	outline: none;
	transition: 0.2s;
}

.btn btn-outline-primary {
	transform: translateY(-2px);
	box-shadow: 0 3px 0 #CC3333;
	transition: 0.2s;
} 

input {
	color: red;
}

input::placeholder {
	color: red;
}

label {
	font-weight: bold;
}

.form-check-label {
	font-weight: normal;
}

.navbar {
	background-color:transparent !important;
}

button.btn.nav-link {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  color: #640016;
  top: 0;
  left: 5%;
}

button.btn.nav-link::after, button.btn.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

button.btn.nav-link::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #640016;
  border-right-color: #640016;
}

button.btn.nav-link::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #640016;
  border-left-color: #640016;
}

button.btn.nav-link:hover:after, button.btn.nav-link:hover:before {
  width: 100%;
  height: 100%;
}
