@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
  background-color: #ecf0f1;
}

.copyright {
  margin: auto;
}

.copyright a {
  text-decoration: none;
  color: #640016;
}

.copyright a:hover {
  text-decoration: underline;
}
